<html>
<head>
  <meta charset="UTF-8">
  <title>Main</title>
  <script type="text/javascript" src="http://livejs.com/live.js"></script>
  <script src="elm.js"></script>
</head>

<body>
  <div id="myapp"></div>
  <script>
   var params = $params;
   var app = Elm.Main.init({
       node: document.getElementById('myapp'),
       flags: params
   });
  </script>
</body>
</html>
